body{
    background-color: rgb(241,242,244);
}

header{
    background: url("../images/search-background.jpg") center/cover no-repeat;
}

#result-container img{
    /* background: url("../images/not-available.png") center/cover no-repeat; */
    height: 150px;
}

#result-area{
    display: none;
}